<div>
    <h3><p>Welcome to</p></h3>
    <h1>{{title}}</h1>
</div>
<div id="map"></div>
<div id="driving">
    <div>
        From:
        <div id="origin"></div>
        <div id="originLat" hidden></div>
        <div id="originLng" hidden></div>

    </div>
    <div>
        To:
        <div id="dest"></div>
        <div id="destLat" hidden></div>
        <div id="destLng" hidden></div>

    </div>

    <input id="drive" type="button" value="Find My Way">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBQ46PRYLeVMFQPTdSjXSXSWWMH7cJXyc&callback=initMap" async defer></script>
<script src="/js/map.js"></script>


<!--
project idea:
show pictures as features from google drive or flickr on a map


APIs:
G Map
https://github.com/googlemaps/google-maps-services-js

G Drive
https://developers.google.com/drive/v3/web/quickstart/nodejs
https://www.npmjs.com/package/google-drive

flickr
https://www.npmjs.com/package/flickrapi


Samples/Examples:
https://developers.google.com/maps/documentation/javascript/examples/map-simple

http://masashi-k.blogspot.ae/2016/03/accessing-to-google-drive-using-google.html

-->