<div>
    <h3><p>Welcome to</p></h3>
    <h1>{{title}}</h1>
</div>
<div id="map"></div>
<div id="driving">
    <div>
        From:
        <div id="origin"></div>
        <div id="originLat" hidden></div>
        <div id="originLng" hidden></div>

    </div>
    <div>
        To:
        <div id="dest"></div>
        <div id="destLat" hidden></div>
        <div id="destLng" hidden></div>

    </div>

    <input id="drive" type="button" value="Find My Way">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBQ46PRYLeVMFQPTdSjXSXSWWMH7cJXyc&callback=initMap" async defer></script>
<script src="/js/map.js"></script>