<div class="container-fluid">
    <div id="nav-bar" class="row">
        <div class="col-md-6">
            <h4><img class="card-img-top" src="img/directions.jpg" width="50"> {{title}}</h4>
        </div>
        <div class="col-md-6">
            <nav class="nav justify-content-end">
                <a class="nav-link active" href="https://afshanaman81.github.io" target="_blank">Home</a>
                <a class="nav-link" href="#">Dashboard</a>
                <a class="nav-link" href="#">Admin</a>
                <a class="nav-link disabled" href="#">Logout</a>
            </nav>
        </div>
    </div>
    <div id="content" class="row">
        <div id="left-menu" class="col-md-3">

            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Choose Source and Destination:</h5>
                    <p class="card-text">
                    <div class="form-group">
                        <div id="origin">From: <i class="font-small grey">Click and hold mouse on the map</i></div>
                        <div id="originLat" hidden></div>
                        <div id="originLng" hidden></div>
                    </div>
                    <div class="form-group">
                        <div id="dest">To: <i class="font-small grey">Click and hold mouse on the map</i></div>
                        <div id="destLat" hidden></div>
                        <div id="destLng" hidden></div>

                    </div>
                    </p>
                    <button id="drive" type="button" class="btn btn-success">Find My Way</button>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="map"></div>
        </div>

    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBQ46PRYLeVMFQPTdSjXSXSWWMH7cJXyc&callback=initMap" async defer></script>
<script src="/js/map.js"></script>