<div class="container-fluid">
    <div id="nav-bar" class="row">
        <div class="col-md-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-md-8">
            <nav class="nav justify-content-end">
                <a class="nav-link active" href="https://afshanaman81.github.io" target="_blank">Home</a>
                <a class="nav-link" href="#">Dashboard</a>
                <a class="nav-link" href="#">Admin</a>
                <a class="nav-link disabled" href="#">Logout</a>
            </nav>
        </div>
    </div>
    <div id="content" class="row">
        <div id="left-menu" class="col-md-3">

            <div class="card" style="width: 27rem;">
                <img class="card-img-top" src="img/directions.jpg" width="150">
                <div class="card-block">
                    <h4 class="card-title">Choose Source and Destination:</h4>
                    <p class="card-text">
                    <div class="form-group">
                        <div id="origin">From:</div>
                        <div id="originLat" hidden></div>
                        <div id="originLng" hidden></div>
                    </div>
                    <div class="form-group">
                        <div id="dest">To:</div>
                        <div id="destLat" hidden></div>
                        <div id="destLng" hidden></div>

                    </div>
                    </p>
                    <button id="drive" type="button" class="btn btn-success">Find My Way</button>
                </div>
            </div>
        </div>

        <div id="map" class="col-md-9"></div>
    </div>
</div>
