@blue: #00B7FF;


html, body {
    height: 100%;
    margin: 0;
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: @blue;
}

#left-menu{
    margin: 3vh 0;
}

#map {
    border-radius: 5px;
    height: 89vh;
    margin-bottom: 1vh;
}

.nav{
    height: 5vh;
}

.font-small{
    font-size: x-small;
}

.grey{
    color: gray;
}
