@blue: #00B7FF;


html, body {
    height: 100%;
    margin: 0;
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: @blue;
}

#map {
    border-radius: 5px;
    border: 2px solid lightgrey;
    height: 89vh;
    margin-bottom: 1vh;
}

.nav{
    height: 5vh;
}

.font-small{
    font-size: x-small;
}

.grey{
    color: gray;
}


@media only screen and (max-width: 740px) {
    #left-menu{
        margin: 2vh 0;
    }
}

@media only screen and (max-width: 740px) and (orientation: landscape){
    #left-menu{
        margin: 5vh 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #left-menu{
        margin: 0;
    }

}

